@model Bangazon_Workforce_Management.Models.ViewModels.EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EmployeeEditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="employee.LastName" class="control-label"></label>
                <input asp-for="employee.LastName" class="form-control" />
                <span asp-validation-for="employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computers" class="control-label"></label>
                <select asp-for="employee.Computer" asp-items="@Model.Computers"></select>
            </div>
            <div class="form-group">
                <label asp-for="Departments" class="control-label"></label>
                <select asp-for="employee.departmentId" asp-items="@Model.Departments"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
